{$APP_DOMAIN} {
	encode zstd gzip

	@api path /api /api/*
	handle @api {
		reverse_proxy api:8080
	}

	@assets path /assets/*
	header @assets {
		Cache-Control "public, max-age=31536000, immutable"
	}

	@notassets not path /api/* /assets/*
	header @notassets {
		Cache-Control "no-cache"
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
